<h2>Your TODO list <small>// <%= user_name %></small> </h2>
<hrule/>

<form class="form-search" action="<%= appUrl('/create') %>" method="post" accept-charset="utf-8">
      <input class="input-large search-query" style="width: 350px;" type="text" name="content" placeholder="Add a TODO item..."/>
      <button class="btn" type="text">Add</button>
</form>

<% todos.forEach( function(todo){ %>
    <%- partial('todo-item-partial', {todo:todo, current:current} ) %>
<% } ); %>


